#background{
    background-image: url("fundo.png");
    background-size: cover;
}
#cabecalho{
    background-color: black;
    color: white;
}
#titulo{
    padding-left: 750px;
    padding-top:20px;
    font-family: 'Courier New', Courier, monospace;
}
#subtitulo{
    padding-left: 450px;
    padding-bottom:20px;
    font-family: 'Courier New', Courier, monospace;
}
#nome{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 25px;
    width: 250px;
    margin-left: 750px;
}
canvas{
    border-color: black;
    border-radius: 25px;
}